= simple_form_for @album, url:  "/albums/#{@album.id}", html: {data: {role: :assetable, resource: :album}, multipart: true }  do |f|
  = f.input :name, label: false
  = f.hidden_field :user_id, value: current_user.id
  = render partial: 'assets/shared/form', locals:{f: f}
  = f.submit 'Save', class: 'btn'
