%header.page
  .wrapper
    %section.logo
      = link_to 'Картинки', root_path, class:'dropdown-toggle'
    -#  %ul.dropdown-menu
    -#    - relative_sites.each do |f|
    -#      %li
    -#        %h4
    -#          = link_to f[:title].to_s, root_path
    -#        = "#{f[:themas].to_s} тема, #{f[:users].to_s} участников, #{f[:solutions].to_s} решений"
    -#
    -#%section.search
    -#  = render partial: 'shared/search'
    -#
    %section.search
      - if user_signed_in?
        %ul.list.inline
          %li= link_to 'Все', albums_path
          %li= link_to 'Мое', @current_user
      - else
        %h1 Загрузи картинку спаси мир
    %ul.list.inline.session><
      - if user_signed_in?
        %li.dropdown.user
          = link_to edit_user_registration_path , class:'dropdown-toggle', data:{toggle:'dropdown', target:'#'} do
            %span= current_user.username
            %i.icon-caret-down

          %ul.dropdown-menu
            %li
              = link_to 'Персональная информация', current_user
            -#%li
            -#  = link_to 'Изменить пароль', edit_user_registration_path
            %li
              = link_to 'Выйти', destroy_user_session_path, :method => :delete
      - else
        %li.header-menu><
          = link_to new_user_session_path, data:{type: 'js'} do
            %i.icon-login
            %span Войти