%header.page
  .wrapper
    %section.logo.dropdown
      = link_to 'Vk-images', root_path, class:'dropdown-toggle'

    -#  %ul.dropdown-menu
    -#    - relative_sites.each do |f|
    -#      %li
    -#        %h4
    -#          = link_to f[:title].to_s, root_path
    -#        = "#{f[:themas].to_s} тема, #{f[:users].to_s} участников, #{f[:solutions].to_s} решений"
    -#
    -#%section.search
    -#  = render partial: 'shared/search'
    -#

    - if user_signed_in?
      %ul.list.inline
        %li= link_to 'Все', root_url
        %li= link_to 'Мое', '#'
    - else
      %h1.list.inline Загрузи картинку спаси мир
    %ul.list.inline.session><
      - if user_signed_in?

        %li.l.header-menu#genres-show><
          = link_to '#', data:{type: 'js'} do
            %i.icon-list
            %span Категории

        %li.dropdown.notify
          = link_to '#', class:'dropdown-toggle', data:{toggle:'dropdown', target:'#'} do
            %span
              %i.icon-bell
              .num= 10
          %ul.dropdown-menu
            %li

              %div.dropdown-menu.dropdown-container.scrollbar
                %ul.notifications-list
                  -#- notifications(current_user).each do |f|
                  -#  %li{class: f.new? ? 'active' : ''}
                  -#    -#= render partial: 'users/notification/shared/mustache_small_item', locals: { notification: f }
                  -#    = render partial: 'users/notification/shared/small_item', locals: { noty: f }

            %li
              .footer
                = link_to 'Все уведомления', user_path(current_user,{notify: 'all'})
                =# link_to user_path(current_user,{notify: 'setting'}), class: 'r' do
                =#  %i.icon-cog
                =#  Настроить уведомления
          -#= subscribe_to "/users/#{current_user.id}/notifications"

        %li.dropdown.user
          = link_to edit_user_registration_path , class:'dropdown-toggle', data:{toggle:'dropdown', target:'#'} do
            = image_tag user_avatar(current_user, :small)
            %span= current_user.username
            %i.icon-caret-down

          %ul.dropdown-menu
            - if current_user.role? :admin
              %li
                = link_to admin_stats_path do
                  %b Админка
              %li.divider
            %li
              = link_to 'Персональная информация', current_user
            -#%li
            -#  = link_to 'Изменить пароль', edit_user_registration_path
            %li
              = link_to 'Выйти', destroy_user_session_path, :method => :delete
      - else
        %li.header-menu#genres-show><
          = link_to '#', data:{type: 'js'} do
            %i.icon-list
            %span Категории
        %li.header-menu><
          = link_to new_user_session_path, data:{type: 'js'} do
            %i.icon-login
            %span Войти